* {
  font-size: 1.3vw;
  font-family: "Epilogue", sans-serif;
}

html {
  --scrollbarBG: #fff;
  --thumbBG: #90a4ae;
}

body {
  height: 100vh;
  background: #ccc;
}

.card {
  display: none;
  height: 45vw;
  width: 35vw;
  background-color: white;
  margin-left: 30vw;
  margin-top: 2vw;
  box-shadow: 2vw 2vw 12vw 3vw #ccc;
  transition: all 0.2s ease-out;
}

.card #header {
  height: 5vw;
  background: #2daf83;
  padding: 0vw;
}

.card #header h1 {
  color: #fff;
  font-size: 2vw;
  font-family: "Finger Paint", cursive;
  padding: 1vw;
}

.card #message-section::-webkit-scrollbar {
  width: 10px;
}

.card #message-section {
  height: 32vw;
  padding: 0 2.5vw;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.card #message-section::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.card #message-section::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.card #message-section #bot,
.card #message-section #user {
  position: relative;
  bottom: 0;
  min-height: 1.5vw;
  border: 0.15vw solid rgb(75 160 127);
  background-color: #fff;
  border-radius: 0px 1.5vw 1.5vw 1.8vw;
  padding: 1vw;
  margin: 1.5vw 0;
}

.card #message-section #user {
  border: 1.5px solid #000;
  border-radius: 1.5vw 0vw 1.5vw 1.8vw;
  background-color: #000;
  float: right;
}

.card #message-section #user #user-response {
  color: #fff;
}

.card #message-section .message {
  color: #000;
  clear: both;
  line-height: 1.2vw;
  font-size: 1.2vw;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  z-index: 2;
}

.card #input-section {
  z-index: 1;
  padding: 0 2.5vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  height: 6vw;
  width: 100%;
}

.card #input-section input {
  color: #000;
  min-width: 0.5vw;
  outline: none;
  height: 5vw;
  width: 26vw;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #000 0.1vw;
}

.card .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 1.4vw;
  margin-right: 0vw;
  padding: 0;
  position: relative;
  outline: none;
}

.card .send .circle {
  position: relative;
  width: 4.8vw;
  height: 4.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .send .circle i {
  font-size: 3vw;
  margin-left: -1vw;
  margin-top: 1vw;
}

.button {

  position: fixed;
  right: 4%;
  bottom: 4%;
  width: 90px;
  height: 90px;
  z-index: 1000;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 50rem;
  border: none;
  background: #100720;
  transition: 0.1s;

}

.close {
  float: right;
}

.button::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(48 172 130), rgba(2, 245, 255, 1) 100.2%);
  filter: blur(35px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.button:hover {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
  transition: 0.5s;
}

.heading-section {
  text-align: center;
  font-family: "Finger Paint", cursive;
  font-size: 2vw;
}

.heading-section h1 {
  text-align: center;
  font-family: "Finger Paint", cursive;
  font-size: 3vw;
}





/* chat */
.desc p {
  color: rgb(133, 153, 168);
  margin: 0;
  font-weight: 600;
}

.text {
  font-size: 65px;
  font-weight: 800;
  color: cadetblue;
  margin: 0;
}

#init {
  margin-top: 2rem;
  background: indianred;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  color: aliceblue;
  cursor: pointer;
}

.bot-img {
  width: 20rem;
  height: 20rem;
}

#chat-box {
  position: relative;
  top: 40px;
  padding: 8px 10px;
  font-size: 12px;
  height: 24.2rem;
  width: 96%;
  overflow: auto;
  background: rgba(224, 241, 253, 0.338);
  text-align: center;
  border-radius: 1em;
}

.suggesion {
  margin-top: -115px;
  display: flex;
  justify-content: center;
}



#init{
  margin-top: 0rem;
  display: none;
  background: #cd5c5c00;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(240, 248, 255, 0);
  cursor: pointer;
}
.desc p{
  color: rgb(133,153,168);
  margin: 0;
  font-weight: 600;
}
.text{
  font-size: 65px;
  font-weight: 800;
  color: cadetblue;
  margin: 0;
}
.parent{
  position: relative;
  height: 100%;
  padding: 0 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bot-img{
  width: 20rem;
  height: 20rem;
}
.child{
  /* box-shadow: 0 0 2px salmon; */
  /* border-radius: 15px; */
  height: 30rem;
  width: 40rem;
  margin: auto;
  /* background: white; */
}
.header img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 0.5rem;
  border: 1px solid rgb(231,231,231);
  padding: 5px;
}
.header{
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  background: white;
  width: 16rem;
  padding: 5px 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  z-index: 1;
  box-shadow: 0 0 2px rgb(175,175,175);
}
.h-child{
  display: flex;
  align-items: center;
}
.header span{
  font-size: 13px;
  margin: 0;
  padding: 0;
}
.refBtn{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: none;
  border: none;
  border-radius: 50%;
  color: indianred;
  font-size: 18px;
  cursor: pointer;
}
.name{
  font-weight: 600;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 16rem;
  background: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: indianred;
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 0 3px rgb(153,153,153);
}
#chat-box{
  position: relative;
  top: 0px;
  padding: 8px 10px;
  font-size: 12px;
  height: 28.8rem;
  overflow: auto;
  background: rgb(41 172 127 / 27%);
  text-align: center;
}

/* these classes will be used in javascript file */
.msg{
  background: white;
  padding: 5px 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: max-content;
  font-size: 14px;
  color: lightslategrey;
  box-shadow: 0 0 5px rgb(226,226,226);
  max-width: 65%;
  text-align: left;
}
.test{
  text-align: right;
  margin: 20px 0;
}
.rep{
  background: rgb(253,243,224);
  color: lightslategray;
  padding: 5px 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  font-size: 14px;
  box-shadow: 0 0 5px rgb(211,211,211);
}
.opt{
  padding: 5px 20px;
  columns: lightsalmon;
  border: 1px solid blueviolet;
  border-radius: 1rem;
  margin: 0.3rem 0.5rem;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  background: white;
  text-align: center;
  font-size: 14px;
  color: blueviolet;
}
.link{
  text-decoration: none;
  display: block;
  text-align: center;
  color: aliceblue !important;
  background: blueviolet;
}
.m-link{
  text-decoration: none;
}
.link:active{
  background: white;
  border: 1px solid blueviolet;
  color: blueviolet;
}